extends layouts/base.pug

block body
  video(src=`/${video.fileUrl}` controls)
  p=video.description
  small=video.createdAt
  br
  small Uploaded by #{video.owner.username}
  ul
    each h in video.hashtags
      li=h
  if loggedIn && String(loggedInUser._id) === String(video.owner._id)
    div
      a(href=`${video.id}/edit`) Edit video &rarr;
    div
      a(href=`${video.id}/delete`) Delete video &rarr;
  
